Begin by importing all necessary libraries.

In [1]:
import math
import pandas as pd
import numpy as np

Then import all data files.

In [10]:
demo_ref = pd.read_csv('demographicref.csv') #demographic reference data
econ_ref = pd.read_csv('econref.csv') #economic reference data
health_expen = pd.read_csv('healthexpenditure.csv') #healthcare expenditure data
health_qual = pd.read_csv('healthquality.csv') #healthcare quality data
health_resor = pd.read_csv('healthresources.csv') #healthcare resources data
#health_stat = pd.read_csv('healthstatus.csv') #health status data
health_util = pd.read_csv('healthutilization.csv') #healthcare utilization data
social_proc = pd.read_csv('socialprotection.csv') #social healthcare protection data
worker_migr = pd.read_csv('healthworkmigration.csv') #healthcare worker migration data

In [9]:
#health_stat = pd.read_csv('healthstatus.csv') #health status data - cannot load

Clean and tidy dataframes

In [15]:
#demo_ref = demo_ref[['Variable','Measure','Country','Year','Value']]

,Variable,Measure,Country,Year,Value
0,"Female population, incl. France Metropolitan +...",Thousands of persons,Australia,2010,11063.90
1,"Female population, incl. France Metropolitan +...",Thousands of persons,Australia,2011,11221.80
2,"Female population, incl. France Metropolitan +...",Thousands of persons,Australia,2012,11420.50
3,"Female population, incl. France Metropolitan +...",Thousands of persons,Australia,2013,11622.00
4,"Female population, incl. France Metropolitan +...",Thousands of persons,Australia,2014,11807.80
...,...,...,...,...,...
11900,Fertility,Children per women aged 15 to 49 years old,Peru,2017,2.28
11901,Fertility,Children per women aged 15 to 49 years old,Peru,2018,2.26
11902,Fertility,Children per women aged 15 to 49 years old,Peru,2019,2.24
11903,Fertility,Children per women aged 15 to 49 years old,Peru,2020,2.22
11904,Fertility,Children per women aged 15 to 49 years old,Peru,2021,2.19